/* 2. CENTER THE HEADER */
.new-tweet-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 1. BOTTOM BORDER AND COLOR */
textarea {
  border: none;
  border-bottom: 3px solid #545149;
  outline: 0;
  background-color: #f4f1ec;
  width: 100%;
}

/* 3. POSITION THE BTN AND COUNTER */
.tweetBtn-and-counter {
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
  font-size: 20px;
}

/* 4. STYLE THE */
button {
  background-color: #1f5673;
  border: none;
  color: #ffffff;
}

.redText {
  color: red;
}

.tweet-text {
  font-weight: 600;
}


@media only screen and (max-width: 768px) {
  .innerBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* transition: ease all 1.5s; */
  }
}


/* i moved the order in the html file for the header.css link and the newtweets link */

/* When the browser is at least 769px and above */
@media only screen and (min-width: 769px) {
  .innerBody {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  header {
    margin: 130px 30px 0px 10px;
  }

  main {
    margin: 200px 30px 0px 0px;
  }
}
